
<footer class="footer">
    <div class="about">
      <h3>About Us</h3>
      <p>
        Postify is a platform to share moments, connect with people, and
        express yourself. Join our community today!
      </p>
    </div>
    <div class="social-media">
      <h3>Follow Us</h3>
      <a href="#" target="_blank"><img src="assets/facebook.jpg" alt="Facebook" /></a>
      <a href="#" target="_blank"><img src="assets/X.jpg" alt="Twitter" /></a>
      <a href="#" target="_blank"><img src="assets/insta.jpg" alt="Instagram" /></a>
    </div>
  </footer>