<nav class="navbar"  #navbar>
  <div class="navbar-logo" routerLink="/home">Postify</div>
  
  <!-- Hamburger Icon (Three Dots) -->
  <div class="navbar-toggle" (click)="toggleMenu()">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>

  <!-- Navbar Links -->
  <ul class="navbar-links" [class.active]="isMenuOpen">
    <li><a routerLink="/home" *ngIf="Isloggedin && authservice.userName">Welcome, {{authservice.userName}}</a></li>
    <li><a routerLink="/home" *ngIf="Isloggedin">Home</a></li>
    <li><a routerLink="/post/create" *ngIf="Isloggedin">Create Post</a></li>
    <li><a routerLink="/post/list" *ngIf="Isloggedin">Posts</a></li>
    <li><a routerLink="/login" *ngIf="Isloggedin" (click)="onLogout()">Logout</a></li>
    <li><a routerLink="/login" *ngIf="!Isloggedin">Login</a></li>
  </ul>
</nav>