<nav class="navbar"  #navbar>
  <div class="navbar-logo" routerLink="/home">
    <a>Postify</a>
  </div>
  
  <!-- Hamburger Icon (Three Dots) -->
  <div class="navbar-toggle" (click)="toggleMenu()">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>

  <!-- Navbar Links -->
  <ul class="navbar-links" [class.active]="isMenuOpen">
    <li><a routerLink="/home" *ngIf="authservice.isLoggedIn() && authservice.userName">Welcome, {{authservice.userName}}</a></li>
    <li><a routerLink="/home" *ngIf="authservice.isLoggedIn()">Home</a></li>
    <li><a routerLink="/post/create" *ngIf="authservice.isLoggedIn()">Create Post</a></li>
    <li><a routerLink="/post/list" *ngIf="authservice.isLoggedIn()">Posts</a></li>
    <li><a routerLink="/login" *ngIf="authservice.isLoggedIn()" (click)="onLogout()">Logout</a></li>
    <li><a routerLink="/login" *ngIf="!authservice.isLoggedIn()">Login</a></li>
  </ul>
</nav>