<nav class="navbar">
    <div class="navbar-logo" routerLink="/home">Postify</div>
    <ul class="navbar-links">
      <li><a routerLink="/home" *ngIf="Isloggedin">Welcome,{{authservice.userName}}</a></li>
      <li><a routerLink="/home" *ngIf="Isloggedin">Home</a></li>
      <li><a routerLink="/post/create" *ngIf="Isloggedin">Create Post</a></li>
      <li><a routerLink="/post/list" *ngIf="Isloggedin">Posts</a></li>
      <li><a routerLink="/login" *ngIf="Isloggedin" (click)="onLogout()">Logout</a></li>
      <li><a routerLink="/login" *ngIf="!Isloggedin">Login</a>
      </li>
      <!-- <button (click)="onLogout()" class="text-white hover:text-#49c5b6 transition duration-300" *ngIf="Isloggedin"> 
        Logout</button> -->
    </ul>
  </nav>