<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="form">
    <!-- Name input -->
    <div class="mb-4">
      <label for="name" >Title:</label>
      <input type="text" id="name" formControlName="name" >
    </div>
  
    <!-- Content input -->
    <div class="mb-4">
      <label for="content" >Content:</label>
      <textarea id="content" formControlName="content" ></textarea>
    </div>
  
    <!-- Image file input -->
    <div class="mb-4">
      <label for="image" >Image:</label>
      <input type="file" id="image" (change)="onUpload($event)" formControlName="image">
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="button" >Submit</button>
  </form>
  <div *ngIf="loaderService.loading$ | async" class="loader-overlay">
    <div class="loader"></div>
  </div>