<!-- <form (submit)="onAddPost(postForm)" #postForm="ngForm">

    <input  type="text" name="title" ngModel required minlength="3" placeholder="Post Title" #title="ngModel">

    <textarea  rows="1" name="content" ngModel required placeholder="Post Content"
        #content="ngModel"></textarea>

    <button color="accent" type="submit">Save Post</button>
</form> -->
<!-- <form (ngSubmit)="onAddPost(postForm)" #postForm="ngForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="text" class="form-control"  ngModel name="title" id="exampleInputEmail1" aria-describedby="emailHelp"  >
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control"  ngModel name="content" id="exampleInputPassword1" >
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <button (click)="onDelete()" class="btn btn-danger">Delete </button>
  </form> -->
  <!-- <div class="relative">
 
    <a routerLink="../list" class="fixed top-0 right-0 mt-14 mr-4  p-2 text-white bg-gradient-to-r from-teal-500 to-purple-500 rounded-full shadow-lg hover:opacity-90 transition duration-300">
      Post List
    </a>
  </div> -->
  <div class="container mt-16">
  <form (submit)="onSavePost()">
<dx-form #myform [(formData)]="Post">
    <dxi-item itemType="group" caption="Posts" [colCount]="3">
        <dxi-item dataField="title" [editorOptions]="{width:'75%'}"></dxi-item>
        <dxi-item dataField="content" [editorOptions]="{width:'100%'}"></dxi-item>    
    </dxi-item>
    
    <dxi-item>
        <dx-button text="Submit" [useSubmitBehavior]="true"></dx-button>
    </dxi-item>
</dx-form>
</form>
</div>