
<div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-teal-400 to-purple-500">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full md:w-96">
      <h2 class="text-4xl font-extrabold text-center text-teal-600 mb-6">Sign Up</h2>
      <form #signup="ngForm" (submit)="onSignup(signup)">
        <div class="mb-6">
          <label for="username" class="block text-gray-600 text-sm font-semibold mb-2">Username</label>
          <input
            type="text"
            id="username"
            #username="ngModel"
            name="username"
            ngModel
            name="username"
            class="w-full px-4 py-3 border-b-2 border-teal-300 focus:outline-none focus:border-teal-500 transition duration-300 placeholder-teal-400"
            placeholder="Enter your username"
          />
        </div>
        <div class="mb-6">
            <label for="email" class="block text-gray-600 text-sm font-semibold mb-2">Enter Email</label>
            <input
              type="email"
              #email="ngModel"
            name="email"
            ngModel
              class="w-full px-4 py-3 border-b-2 border-teal-300 focus:outline-none focus:border-teal-500 transition duration-300 placeholder-teal-400"
              placeholder="Enter your Email"
              required email
            />
          </div>
        <div class="mb-6">
          <label for="password" class="block text-gray-600 text-sm font-semibold mb-2">Password</label>
          <input
            type="password"
            id="password"
            #password="ngModel"
            ngModel
            name="password"
            class="w-full px-4 py-3 border-b-2 border-teal-300 focus:outline-none focus:border-teal-500 transition duration-300 placeholder-teal-400"
            placeholder="Enter your password"
          />
        </div>
        <button
        type="submit"
        class="w-full bg-gradient-to-r from-teal-500 to-purple-500 text-white p-4 rounded-full font-bold hover:opacity-90 focus:outline-none focus:shadow-outline-teal transition duration-300"
      >
        sign Up
      </button>
      </form>
      
    </div>
  </div>