<!-- 

<div class="relative">
    
    <a routerLink="create" class="fixed top-0 right-0 mt-14 mr-4  p-2 text-white bg-gradient-to-r from-teal-500 to-purple-500 rounded-full shadow-lg hover:opacity-90 transition duration-300">
      New Post
    </a>
    <a routerLink="list" class="fixed top-0 right-0 mt-14 mr-24 p-2 text-white bg-gradient-to-r from-teal-500 to-purple-500 rounded-full shadow-lg hover:opacity-90 transition duration-300">
        Posts
      </a>
  </div> -->
<app-post></app-post>


