<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
  <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <label for="field1">Item Id:</label>
              <input type="text" class="form-control" id="itemId" name="itemId" [(ngModel)]="formData.itemId">
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <label for="field2">User Id:</label>
              <input type="text" class="form-control" id="userId" name="userId" [(ngModel)]="formData.userId">
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <label for="field3">Name:</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="formData.name">
          </div>
      </div>
  </div>
  
  <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <label for="field4">Completed:</label>
              <input type="text" class="form-control" id="completed" name="completed" [(ngModel)]="formData.completed">
          </div>
      </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- html
Copy code
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" [(ngModel)]="formData.email" required>

    Other form fields

    <button type="submit">Submit</button>
</form> --> 